<template>
  <div class="todo">
    <h3>TODO LIST</h3>
    <input type="text" v-model="newTodo" @keydown.enter="addTodo" />
    <ul>
      <li v-for="(value, index) of list" :key="index">
        {{ value }}
        <button @click="deleteTodo(index)">&#x1F5D1;</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Todo",
  data() {
    return {
      newTodo: ''
    }
  },
  computed: {
      list() {
        return this.$store.getters['todo/list']
      }
  },
  methods: {
      addTodo() {
          if (this.newTodo) {
              this.$store.dispatch('todo/add', this.newTodo)
              this.newTodo = ''
          }
      },
      deleteTodo(index) {
        this.$store.dispatch('todo/delete', index)
      }
  }
}
</script>

<style scoped>

</style>
