<template>
  <div id="app">
    <div v-if="!key">
      <h3>Enter your key</h3>
      <input type="text" v-model="newKey">
      <button @click="login">Ok</button>
    </div>
    <div v-else>
      <Todo/>
    </div>
  </div>
</template>

<script>
import Todo from "@/components/todo";
import { enablePersistedState } from "@/store";

export default {
  name: 'App',
    components: { Todo },
    data() {
      return {
          key: null,
          newKey: ''
      }
    },
    methods: {
      login() {
          this.key = this.newKey;
          enablePersistedState(this.key);
      }
    }
}
</script>

<style>
  html, body {
    background: #f1f1f1;
  }
</style>
